.center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
  }




  /* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid rgb(11, 11, 11);
} */

/* header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #333;
  color: #fff;
}

header h1, footer p {
  margin: 0;
}

form {
  display: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  top:40vh;
}

div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

label {
  width: 100px;
  margin-right: 10px;
  text-align: right;
}

input[type="text"] {
  width: 200px;
  height: 20px;
  padding: 5px;
}

button {
  width: 100px;
  height: 30px;
  margin-top: 20px;
}

div div {
  margin-bottom: 20px;
}

.result-container {
  margin-top: 20px;
  text-align: center;
} */
 
